APPLICATION_INVENTORY_SERVICE_GITHUB_CLIENT_ID=
APPLICATION_INVENTORY_SERVICE_GITHUB_CLIENT_SECRET=
APPLICATION_INVENTORY_SERVICE_GOOGLE_CLIENT_ID=
APPLICATION_INVENTORY_SERVICE_GOOGLE_CLIENT_SECRET=
APPLICATION_INVENTORY_SERVICE_TEST_LOGIN_ENABLED=true
APPLICATION_INVENTORY_SERVICE_TEST_USER_ID=test-user
APPLICATION_INVENTORY_SERVICE_TEST_USER_LOGIN=test.user@local
APPLICATION_INVENTORY_SERVICE_TEST_USER_NAME=Test User
APPLICATION_INVENTORY_SERVICE_SECRET_KEY=
APPLICATION_INVENTORY_POSTGRES_PASSWORD=postgres
